main {
    position: relative;
    width: 100%;
    height: 1000px;
    background-color: #F9F4E8;
    margin: auto;
    font-family: Poppins-Medium;
}

/* ---------------- Fontes ---------------- */

@font-face {
    font-family: 'Poppins-bold';
    src: url('../font/Poppins-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-light';
    src: url('../font/Poppins-Light.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-medium';
    src: url('../font/Poppins-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-regular';
    src: url('../font/Poppins-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-semibold';
    src: url('../font/Poppins-SemiBold.ttf');
}

/* ---------------- Menu ---------------- */

#barrinha{
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 25px;
    
}
/*
#logo{
    position: absolute;
    background-image: url(../imagens/design/logo-melopolis-marrom.png);
    width: 60px;
    height: 60px;
    margin-right: 1100px;
    background-size: contain;
    background-repeat: no-repeat;
}*/

#barrinha a{
    position: relative;
    width: 14.2%;
    text-align: center;
    color: #5C3D00;
    text-decoration: none;
    font-size: 20px;
    border-radius: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#barrinha section{
    position: relative;
    width: 14.2%;
    text-align: center;
}


#barrinha a:hover{
    background-color: #5C3D00;
    color: #F9F4E8;
    transition: 1s all;
    font-family: Poppins-semibold;
}

/* ---------------- Menu lateral e componentes laterais ---------------- */

#lateral-loja{
    position: relative;
    width: 20%;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: left;
    float: left;
    margin-left: 45px;
    margin-top: 15px;
}

#lateral-loja img{
    width: 90%;
    height: auto;
    margin-top: 200px;
}

#menu-lateral-loja {
    position: relative;
    width: 90%;
    height: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: left;
    float: left;
    text-align: center;
}

#menu-lateral-loja a {
    background-color: #422C00;
    padding-bottom: 6.50%;
    padding-top: 7%;
    width: 48%;
    height: auto;
    text-decoration: none;
    color: #F9F4E8;
    margin-bottom: 10px;
    text-align: center;
    font-size: 18px;
}

#menu-lateral-loja a:hover {
    background-color: #5C3D00;
    color: #F9F4E8;
}

#menu-lateral-loja .pagina-atual{
    background-color: #5C3D00;
    color: #F9F4E8;
}

/* ---------------- Conteúdo da loja ---------------- */

#conteudo-loja {
    position: relative;
    width: 74%;
    height: 800px;
    /*background-color: #7B5100;*/
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 15px;
}

#banner-promocional{
    position: relative;
    width: 100%;
    min-height: 400px;
}

#banner-promocional img{
    width: 100%;
    height: 100%;
}

#titulo-itens{
    font-size: 24px;
    font-weight: bold;
    position: relative;
    color: #422C00;
    margin-left: 50px;
    margin-top: 65px;
    margin-bottom: 20px;
}

/*
#itens-loja{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#itens-loja img{
    width: 30%;
    height: 300px;
}
*/


/* ---------------- Carrossel ---------------- */

#carrossel-com-progresso {
    position: relative;
    width: 90%;
    height: 1000px;
    background-color: #F9F4E8;
    margin: auto;
    font-family: verdana;
    overflow: hidden;
    font-family: "Orelo-sw-bi", serif;
  }
  
  .carrossel {
    width: 75%;
    cursor: -webkit-grab;
    cursor: grab;
  }
  
  .carrossel.dragging {
    cursor: -webkit-grabbing;
    cursor: grabbing;
  }
  
  .carrossel-wrap {
    white-space: nowrap;
  }
  
  .carrossel-item {
    display: inline-block;
    width: 350px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .carrossel-item figure {
    position: relative;
    z-index: 1;
    display: block;
    height: 0;
    padding-bottom: 80%;
    overflow: hidden;
  }
  
  .carrossel-item figure img {
    position: absolute;
    z-index: 1;
    height: 90%;
    width: 90%;
    -o-object-fit: cover;
    object-fit: cover;
    vertical-align: middle;
    transform-origin: center;
  }
  
  
  .carrossel-item h2 {
    position: absolute;
    z-index: 1;
    bottom: 25px;
    font-size: 38px;
    color: #FABF30;
  }
  
  .carrossel-progresso {
    position: relative;
    z-index: 2;
    pointer-events: none;
    bottom: 5px;
    width: 200px;
    left: 3px;
    height: 3px;
  }
  
  .carrossel-barra-progresso {
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FABF30;
    transform: scaleX(0);
    transform-origin: 0% 0%;
  }